---
import { ITEMS_PER_PAGE } from "@/consts";
import { sortBlogPosts } from "@/functions";
import { getCollection } from "astro:content";
import Link from "./Link.astro";
import { useTranslations } from "@/i18n";

const authorPosts = await getCollection(
  "blog",
  ({ data: { authors, draft } }) => {
    return !draft && authors.some((author) => author.slug === Astro.props.slug);
  },
)
  .then(sortBlogPosts)
  .then((posts) => {
    return posts.slice(0, ITEMS_PER_PAGE).map((post) => {
      return { title: post.data.title, slug: post.slug };
    });
  });

const t = useTranslations();
---

{
  authorPosts.length > 0 && (
    <div class="pt-8">
      <h2 class="text-2xl font-bold leading-8 tracking-tight">
        {t("layouts.authorLayout.latestPosts")}
      </h2>
      <ul class="space-y-4 mt-4">
        {authorPosts.map(({ slug, title }) => (
          <li>
            <Link href={`/blog/${slug}`}>{title}</Link>
          </li>
        ))}
      </ul>
    </div>
  )
}
