---
import { useTranslations } from "@/i18n";
import Logo from "./Logo.astro";
import Menu from "./Menu.astro";
import MobileNav from "./solidjs/MobileNav";

const t = useTranslations();
---

<header class="flex items-center py-10">
    <div class="mr-6">
        <a href="/" aria-label={t("siteMetadata.headerTitle")}>
            <Logo class="w-full" />
        </a>
    </div>
    <div class="flex items-center leading-5 space-x-4 sm:space-x-6">
        <Menu />
        <div class="flex gap-4">
            <!-- <SearchButton /> -->
            <!-- <ThemeSwitcher client:only="solid-js" /> -->
            <MobileNav client:only="solid-js" />
        </div>
    </div>
</header>
