---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SectionContainer from "../components/SectionContainer.astro";

import { useTranslations } from "@/i18n";

const t = useTranslations();

type Props = {
  title: string;
  description: string;
  titleTemplate?: string;
  robots?: string;
};
---

<html lang={t("siteMetadata.language")} class="scroll-smooth">
  <BaseHead {...Astro.props} />
  <body
    class="bg-black text-white antialiased"
  >
    <SectionContainer>
      <div class="flex h-screen flex-col justify-between font-sans">
        <Header />
        <main class="mb-auto">
          <slot />
        </main>
        <Footer />
      </div>
    </SectionContainer>
  </body>
</html>
